
@font-face{font-family:icomoon;src:url(fonts/icomoon.eot?-5wou9o);src:url(fonts/icomoon.eot?#iefix-5wou9o) format('embedded-opentype'),
url(fonts/icomoon.woff?-5wou9o) format('woff'),
url(fonts/icomoon.ttf?-5wou9o) format('truetype'),
url(fonts/icomoon.svg?-5wou9o#icomoon) format('svg');
font-weight:400;
font-style:normal
}
[class^=icon-],
[class*=" icon-"] {
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.icon-rotate:before {
    content: "\e605"
}
.icon-navigation-left-vert:before {
    content: "\e603"
}
.icon-navigation-right-vert:before {
    content: "\e604"
}
.icon-navigation-left:before {
    content: "\e601"
}
.icon-navigation-right:before {
    content: "\e602"
}
.icon-cross:before {
    content: "\e600"
}

.transition {
    -webkit-transition:all .2s ease-out;
    -moz-transition:all .2s ease-out;
    -o-transition:all .2s ease-out;
    transition:all .2s ease-out
}
#mobile-navigation {
    display:none
}
#rotate {
    display:none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:#252525;
    z-index:10000
}
#rotate i {
    font-size:75px;
    color:#000;
    position:absolute;
    top:50%;
    left:50%;
    margin:-35px 0 0 -35px;
    color:#fff
}
#site-navigation {
    position:fixed;
    left:0;
    top:0;
    height:100%;
    width:50px;
    background-color:#252525;
    z-index:50
}
#site-navigation .navigation-label {
    position:fixed;
    z-index:50;
    left:0;
    top:0;
    height:100%;
    width:50px;
    background-color:#252525;
    cursor:pointer
}
#site-navigation .navigation-label i {
    color:#fff;
    font-size:65px;
    letter-spacing:.03em;
    position:fixed;
    top:50%;
    left:18px
}
#site-navigation-wrap {
    position:fixed;
    left:50px;
    width:50%;
    max-width:0;
    overflow:hidden;
    height:100%;
    background-color:#252525;
    z-index:50;
    -webkit-transition:all .4s ease-out;
    -moz-transition:all .4s ease-out;
    -o-transition:all .4s ease-out;
    transition:all .4s ease-out
}
#site-navigation-wrap .cross {
    position:absolute;
    right:10px;
    top:50px
}
#site-navigation-wrap .cross i {
    color:#fff;
    font-size:45px;
    cursor:pointer
}
#site-navigation-table {
    display:table;
    width:100%;
    height:100%
}
#site-navigation-cell {
    display:table-cell;
    width:100%;
    height:100%;
    vertical-align:middle
}
#navigation {
    float:right;
    width:450px;
    max-width:450px;
    margin:0 50px 0 0
}
#navigation ul {
    float:left;
    width:100%;
    margin:0;
    padding:0;
    list-style:none;
    border-top:1px solid #444
}
#navigation ul li {
    float:left;
    width:100%;
    margin:0;
    padding:0;
    border-bottom:1px solid #444
}
#navigation ul li a {
    display:block;
    padding:34px 0 33px;
    color:#fff
}
#navigation ul li a:hover {
    color:#9b9b9b
}
#navigation ul li h2 {
    font-size:24px;
    line-height:36px;
    margin:0;
    color:inherit
}
#navigation ul li span {
    font-size:14px;
    line-height:24px;
    margin:0;
    color:inherit
}
.show-site-navigation #site-navigation-wrap {
    max-width:50%;
    -webkit-transition:all .4s ease-out;
    -moz-transition:all .4s ease-out;
    -o-transition:all .4s ease-out;
    transition:all .4s ease-out
}
#works-navigation {
    position:fixed;
    right:0;
    top:0;
    height:100%;
    width:50px;
    background-color:#f2f2f3;
    z-index:50
}
#works-navigation .navigation-label {
    position:fixed;
    z-index:50;
    right:0;
    top:0;
    height:100%;
    width:50px;
    background-color:#f2f2f3;
    cursor:pointer
}
#works-navigation .navigation-label i {
    color:#000;
    font-size:95px;
    letter-spacing:.03em;
    position:fixed;
    top:48.5%;
    right:18px;
    margin:0 0 -15px 0
}
#works-navigation-wrap {
    position:fixed;
    right:50px;
    width:50%;
    max-width:0;
    overflow:hidden;
    height:100%;
    background-color:#F2F2F3;
    z-index:50;
    -webkit-transition:all .4s ease-out;
    -moz-transition:all .4s ease-out;
    -o-transition:all .4s ease-out;
    transition:all .4s ease-out
}
#works-navigation-wrap .cross {
    position:absolute;
    right:10px;
    top:50px
}
#works-navigation-wrap .cross i {
    color:#fff;
    font-size:45px;
    cursor:pointer
}
#works-navigation-inner {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:scroll;
    -webkit-overflow-scrolling:touch
}
#work-list {
    float:left;
    width:452px;
    max-width:452px;
    margin:50px 0 50px 50px
}
#work-list .work-list-item {
    float:left;
    width:452px;
    margin:0 0 30px;
    padding:0 0 25px;
    border-bottom:1px solid #d0d0d0
}
#work-list .work-list-item .thumbnail {
    float:left;
    width:100%;
    margin:0 0 15px;
    position:relative
}
#work-list .work-list-item img.colour {
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    display:none
}
#work-list .work-list-item h2 {
    font-size:24px;
    line-height:36px;
    margin:0
}
#work-list .work-list-item span {
    font-size:14px;
    line-height:24px;
    margin:0;
    color:inherit
}
.show-works-navigation #works-navigation-wrap {
    max-width:50%;
    overflow:visible;
    -webkit-transition:all .4s ease-out;
    -moz-transition:all .4s ease-out;
    -o-transition:all .4s ease-out;
    transition:all .4s ease-out
}
#overlay {
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:2;
    background-color:rgba(37,
    37,
    37,
    .4);
    -moz-opacity:0;
    -khtml-opacity:0;
    opacity:0;

}
.show-works-navigation #overlay,
.show-site-navigation #overlay {
    display:block;
    -moz-opacity:1;
    -khtml-opacity:1;
    opacity:1;
    
}
#wrap,
#container {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1
}

}
@media only screen and (max-width: 3000px) and (min-width: 2201px) {
    #message-inner {
        padding:0 30%
    }
    #contact-inner {
        padding:0 30%
    }
}
@media only screen and (max-width: 2200px) and (min-width: 1781px) {
    #message-inner {
        padding:0 25%
    }
    #contact-inner {
        padding:0 25%
    }
}
@media only screen and (max-width: 1780px) and (min-width: 1481px) {
    #message-inner {
        padding:0 20%
    }
    #contact-inner {
        padding:0 20%
    }
}
@media only screen and (max-width: 1480px) and (min-width: 1261px) {
    #message-inner {
        padding:0 15%
    }
    #contact-inner {
        padding:0 15%
    }
    #project {
        width:750px
    }
    #project-details {
        float:left;
        width:100%
    }
    #project-content {
        float:left;
        width:100%
    }
}
@media only screen and (max-width: 1260px) and (min-width: 1101px) {
    #message-inner {
        padding:0 10%
    }
    #contact-inner {
        padding:0 10%
    }
    #project {
        width:750px
    }
    #project-details {
        float:left;
        width:100%
    }
    #project-content {
        float:left;
        width:100%
    }
}
@media only screen and (max-width: 1100px) and (min-width: 768px) {
    #message-inner {
        padding:0 10%
    }
    #contact-inner {
        padding:0 10%
    }
    #project {
        width:600px
    }
    #project-details {
        float:left;
        width:100%
    }
    #project-content {
        float:left;
        width:100%
    }
    #profile {
        width:600px
    }
    #clients {
        width:600px
    }
    #journal {
        width:600px
    }
    #works {
        width:600px
    }
    #site-navigation-wrap {
        width:70%
    }
    .show-site-navigation #site-navigation-wrap {
        max-width:70%
    }
    #works-navigation-wrap {
        width:70%
    }
    .show-works-navigation #works-navigation-wrap {
        max-width:70%
    }
}
@media only screen and (max-width: 767px) and (min-width: 320px) {
    #message-inner {
        padding:0 10%
    }
    #contact-inner {
        padding:0 10%
    }
    #works-trigger .desktop {
        display:none
    }
    #works-trigger .device {
        display:inline
    }
    #profile,
    #clients,
    #project,
    #project-content,
    #project-details,
    #works,
    #journal {
        float:left;
        width:100%
    }
    #journal {
        padding:0 0 10px
    }
    #project-hero {
        float:left;
        width:100%;
        margin:20px 0 25px
    }
    #project-details h2 {
        margin:0 0 20px
    }
    #project-images {
        margin:0
    }
    #project-images img {
        margin:0 0 20px
    }
    #message-inner {
        padding:0
    }
    #message-inner p {
        font-size:18px;
        line-height:26px;
        color:#000;
        margin:0 0 20px
    }
    #contact-inner {
        padding:0
    }
    #contact-inner p {
        font-size:18px;
        line-height:26px;
        color:#000;
        margin:0 0 25px
    }
    #works-trigger {
        margin:30px 0 40px
    }
    #works-navigation {
        display:none
    }
    #site-navigation {
        display:none
    }
    #site-navigation-wrap {
        display:none
    }
    #works-navigation-wrap {
        display:none
    }
    .profile-item {
        float:left;
        width:100%;
        margin:20px 0 45px
    }
    .clients-item {
        float:left;
        width:100%;
        margin:20px 0 45px
    }
    #mobile-navigation {
        display:block;
        position:fixed;
        top:0;
        left:0;
        width:100%;
        background-color:#252525;
        z-index:9999;
        cursor:pointer
    }
    #mobile-navigation-toggle {
        float:left;
        width:100%;
        text-align:center;
        height:50px;
        position:relative
    }
    #mobile-navigation-toggle a {
        display:block;
        height:50px;
        width:100%
    }
    #mobile-navigation-toggle i.icon-cross {
        display:none;
        font-size:50px;
        color:#fff;
        position:absolute;
        left:50%;
        margin:0 0 0 -25px;
        z-index:9999
    }
    #mobile-navigation-toggle i.icon-navigation-left {
        color:#fff;
        position:absolute;
        left:50%;
        margin:18px 0 0 -35px;
        z-index:9999
    }
    .show-site-navigation #mobile-navigation-toggle i.icon-cross {
        display:block
    }
    .show-site-navigation #mobile-navigation-toggle i.icon-navigation-left {
        display:none
    }
    .show-works-navigation #mobile-navigation-toggle i.icon-cross {
        display:block
    }
    .show-works-navigation #mobile-navigation-toggle i.icon-navigation-left {
        display:none
    }
    #mobile-navigation-menu {
        position:fixed;
        top:50px;
        left:0;
        height:100%;
        width:100%;
        text-align:center;
        max-height:0;
        overflow:hidden;
        background-color:rgba(37,
        37,
        37,
        .95);
        -webkit-transition:all .4s ease-out;
        -moz-transition:all .4s ease-out;
        -o-transition:all .4s ease-out;
        transition:all .4s ease-out
    }
    .show-site-navigation #mobile-navigation-menu,
    .show-works-navigation #mobile-navigation-menu {
        max-height:100%;
        overflow:hidden;
        -webkit-transition:all .4s ease-out;
        -moz-transition:all .4s ease-out;
        -o-transition:all .4s ease-out;
        transition:all .4s ease-out
    }
    #mobile-navigation-menu ul {
        float:left;
        width:100%;
        margin:0;
        padding:0;
        list-style:none
    }
    #mobile-navigation-menu ul li {
        float:left;
        width:100%;
        margin:0;
        padding:0;
        border-top:1px solid #444
    }
    #mobile-navigation-menu ul li a {
        display:block;
        padding:24px 0 23px;
        color:#fff
    }
    #mobile-navigation-menu ul li a:hover {
        color:#9b9b9b;
        background-color:rgba(37,
        37,
        37,
        1)
    }
    #mobile-navigation-menu ul li h2 {
        font-size:24px;
        line-height:32px;
        margin:0;
        color:inherit
    }
    #mobile-navigation-menu ul li span {
        font-size:14px;
        font-family:MaisonNeue-Light,
        "Helvetica Neue",
        Helvetica,
        Arial,
        "Lucida Grande",
        sans-serif;
        line-height:14px;
        margin:0;
        color:inherit
    }
    #wrap {
        padding:0
    }
    #container {
        padding:50px 20px 0
    }
    .journal-item {
        float:left;
        width:100%;
        margin:20px 0 10px
    }
    .journal-item-media {
        margin:0 0 20px
    }
    .journal-item-date {
        float:left;
        width:100%;
        text-align:center;
        margin:0 0 20px
    }
    #works .work-list-item {
        float:left;
        width:100%;
        margin:20px 0 10px
    }
    #works .work-list-item-media {
        margin:0 0 20px
    }
    #works .work-list-item-client {
        float:left;
        width:100%;
        text-align:center;
        margin:0
    }
}

