

h1{
  font-family: "MillerDisplay", serif;
  color:$black;
  font-size:70px;
  font-weight:200;
  line-height:70px;
  margin:0;
  padding:0;
  
}

h2{
  font-family: $fontfamily;
	font-size:60px;
	margin:0;
  padding:0;
}

h3{
	margin:0;
  	padding:0;
}

p{
	margin:0;
	padding:0;
}

a {
    color: $black;
    text-decoration: none;
    margin:0;
    padding:0;
}

a:visited {
    color: $black;
}

a:hover {
    color: $black;
    text-decoration: none;
}

hr{
  border:0;
  border-top:1px solid $black;
}
