header{
	position: absolute;
	top: 0;
 	left: 0;
 	right: 0;
 	z-index: 2;

 	.container { 
    	@include container;

    	.back-btn{
			float:left;
			@include span(2 of 12);
		}

		.project-title{
			float:left;
			@include span(5 of 12);
			
		}
 
	    .logo{
			@include span(last 5 of 12);
		}
  	}
}

.nav-table{
	@include break;
	@include prefix(2 of 12);
	@include span(7 of 12);
}

