@font-face {
	font-family: 'NHaasGroteskTXStd-75Bd';
	src: url('../fonts/2F3658_0_0.eot');
	src: url('../fonts/2F3658_0_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/2F3658_0_0.woff2') format('woff2'),
	url('../fonts/2F3658_0_0.woff') format('woff'),
	url('../fonts/2F3658_0_0.ttf') format('truetype');
}

//Add Color Palette
$white          : #dfdfdf;
$black          : #252525;
$bg          	: #0f0f0f;
$hover          : #aeaeae;

$typeDefault        : $white;

//Font variables
$fontfamily       : 'NHaasGroteskTXStd-75Bd', Helvetica, Arial, sans-serif;

$thin     : 300;
$bold     : 700;

