

//Add Color Palette
$white          : #ffffff;
$black          : #1d1d1d;

$typeDefault        : $white;

//Font variables
$fontfamily       : 'Helvetica Neue', Helvetica, Arial, sans-serif;

$thin     : 300;
$bold     : 700;