
.logo{
	text-align: right;
	padding:30px 50px 0 0;
}

.white h1{
	color:$white;
}

.back-btn{
	font-size:20px;
	font-weight:600;
}

.back-btn a{
	color:$white;
}

.project-title{
	margin:0;
	padding:0;
	color:$white;
}