nav{
  padding-right:50px;
}

nav ul{
	margin:0;
	padding:0;
}

nav ul li{
	list-style-type: none;
	font-family: $fontfamily;
	font-size:80px;
	font-weight:600;
	margin:0;
	padding:15px 0 10px;
  border-bottom:1px solid #1e1e1e;
}

.first{
  border-top:1px solid #1e1e1e;
}

#ellery a:hover, #pernod-ricard a:hover, #francois-jane a:hover, #steve a:hover{
  color:$hover;
  @include transition(color .5s ease);
}

#ellery:hover, #pernod-ricard:hover, #francois-jane:hover, #steve:hover{
  background-color: rgba(25, 25, 25, 0.3);
}

.nav-table {
    display:table;
    height:100%;
}

.nav-cell {
    display:table-cell;
    width:100%;
    height:100%;
    vertical-align:middle;
}
